* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar {
    background-color: #6B6B6B;
    background-size: 100%;
}

.navbar .container {
    padding: 20px 0;
    display: flex;
}

.nav-list {
    margin-left: auto;
    display: flex;
}

.nav-img {
    width: 120px;
    height: 25px;
}

.nav-link {
    color: #fff;
    margin: 0 30px;
}

.main {
    background-color: #EBEBEB;
    background-size: 100%;
    padding: 100px 0;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-text, .main-img {
    width: 45%;
}

.main-title {
    font-size: 39px;
    color: #333333;
    width: 500px;
    font-style: normal;
    font-weight: 400;
}

.main-info {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin: 25px 0;
    line-height: 32px;
}

.main-link {
    background-color: #fff;
    width: 357px;
    height: 50px;
    color: #111;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
}

.main-subtext {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 13px;
    width: 320px;
    
}

.main-img img {
    width: 350px;
}

.icon {
    background-color: #D3D3D3;
    background-size: 100%;
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.parents .container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.parents-box, .parents-box2 {
    width: 45%;
    padding-bottom: 50px;
}

.parents-box h2 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}

.parents-box p {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    margin-top: 20px;
}

.parents-box img {
    width: 350px;
    margin-top: 100px;
    margin-left: 100px;
}

.parents-box b {
    margin-left: 100px;
    font-size: 12px;
    color: #777777;
}

.parents-box2 img {
    width: 350px;
    margin-left: 100px;
}

.parents-box2 span {
    color: #777777;
    font-size: 12px;
    margin-left: 170px;
}

.parents-box2 h2 {
    margin: 20px 0;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.parents-box2 p {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    
}

.tip {
    background-color: #EBEBEB;
    background-size: 100%;
    text-align: center;
}

.tip-title {
    padding-top: 100px;
    color: #333333;
    font-size: 31px;
    font-weight: 400;
    font-style: normal;
}

.tip-text {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0;
}

.tip-photo {
    width: 350px;
}

.tip-subtext {
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    width: 30%;
    margin: auto;
}

.tip-list {
    padding-bottom: 60px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tip-item {
    border-radius: 5px;
    padding: 30px;
    width: 30%;
    background-color: #fff;
}

.tip-item img {
    width: 100px;
    margin: 25px 0;
}

.tip-item p {
    font-size: 14px;
    line-height: 23px;
}

.tip-item p samp {
    background-color: rgb(45, 160, 206);
    color: #fff;
    font-weight: bold;
    padding: 4px 0;
    border-radius: 5px;
}

.finish .container {
    padding: 100px 0;
}

.finish-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.finish-item {
    width: 22%;
}

.finish-title {
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
}

.finish-item h6 {
    color: #333333;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.finish-item p {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    margin-top: 20px;
    line-height: 23px;
}

footer {
    background-color: #6B6B6B;
    background-size: 100%;
    padding: 30px 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-link {
    color: #fff;
    margin: 0 30px;
}

footer img {
    width: 120px;
    height: 25px;   
}